<%= form_with url: import_pokemons_path, method: :post, html: {class: "form-horizontal"}, multipart: true do |f| %>
  <div class="form-floating mt-4 col-md-6">
    <%= f.file_field :name, class: "form-control", required: true %>
    <%= f.submit "envoyer" %>
  </div>
<% end %>

