<% if params[:name] %>
  <p class="alert alert-danger w-50 mx-auto">Pokemon introuvable</p>
<% end %>


<div class="mx-auto w-50">
  <%= form_with method: :get do |f| %>
    <div class="form-floating">
      <%= f.text_field :name, value: params[:name], class: "form-control" %>
      <%= f.label t("search_a_pokemon") %>
      <button class="btn btn-outline-light mt-2"><%= t("search") %></button>
    </div>
  <% end %>
</div>
<link href="/search.css" rel="stylesheet">